/* 
 Name: MaKayla Elliott
        Date: 12-8-2024
        Assignment: Online Profile
        File Name: styles.css 
*/

html {
    background-color: antiquewhite;
}

a:visited {
    color: rgb(79, 40, 20);
}

a:link {
    color: rgb(79, 40, 20);
}

.profile {
    position: absolute;
    top: 20px;
    bottom: auto;
    right: 20px;
}

.page {
    width: 75%;
    margin: auto;
    max-width: 1200px;
}

.header {
    max-width: 100%;
    border-radius: 10px;
    padding: 25px;
    background-color: burlywood;
}

footer {
    clear: both;
    border-top: 2px solid black;
    margin-top: 30px;
    text-align: center;
}

/* navigation styling */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: burlywood;
    border-radius: 10px;
}


li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: rgb(210, 170, 118);
}

/* index page */
#hobbies {
    border: 3px solid rgb(79, 40, 20);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 45%;
    float: right;
    background-color: #e6ccb3
}

.roundedimage {
    border-radius: 5%;
    width: 49%;
}

#about {
    float: left;
    width: 50%;
}

/* Skills Page */

.skills{
    width: 75%;
    margin: auto;
    
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.text2 {
    font-size: 18px;
    text-decoration: underline;
}

.text3 {
    font-size: 16px;
}

/* classes (table) */
table {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    table-layout: fixed;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

th {
    border: 2px solid black;
    border-radius: 10px;
}

td {
    border: 1px solid black;
    border-radius: 10px;
}

.offered {
    text-align: center;
}

/* contact page styling */
label {
    display: block;
    padding-bottom: 5px;
    position: relative;
}

legend {
    font-weight: bold;
}

input {
    position: absolute;
    left: 15%;
    width: 75%;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.ctitle {
    margin-left: 30px;
}

.submit {
    width: initial;
    position: initial;
}

.reset {
    width: initial;
    position: initial;
}

.return {
    border: 3px solid black
}

.specialfont {
    font-size: medium;
}

/* Connect Styling */
.facebook {
    border: solid 2px #e6ccb3;
    border-radius: 10%;
    background-color:  #dfbf9f;
    padding:5px;
    box-shadow: 3px 3px #d9b38c;
}

.brownbox{
    border: 3px solid rgb(80, 50, 10);
    float: left;
    border-radius: 10px;
    width: 80%;
    padding: 30px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

.web {
    width: 30%;
    float: right;
    margin-top: 30px;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 30px;

}

.git{
    width: 35%;
    border-radius: 10px;
    float: right;
    margin-top: 30px;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 30px;
}