/* 
 Name: MaKayla Elliott
        Date: 12-8-2024
        Assignment: Online Profile
        File Name: styles.css 
*/

html {
    background-color: antiquewhite;
}

a:visited {
    color: rgb(79, 40, 20);
}

a:hover {
    background-color:rgb(210, 170, 118);
}

a:link {
    color: rgb(79, 40, 20);
}

.profile {
    position: absolute;
    top: 20px;
    bottom: auto;
    right: 20px;
}

.header {
    max-width: 100%;
    border-radius: 10px;
    padding: 25px;
    background-color: burlywood;
}

/* navigation styling */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;
    background-color: burlywood;
    border-radius: 10px;
}


li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: rgb(210, 170, 118);
}